body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #008080;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  nav {
    background-color: #b3d9ff;
